<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1 th:text="${'fullname, ' + fullname}"></h1>
    <h1 th:text="${'phone, ' + phone}"></h1>
    <h1 th:text="${'phone, ' + address}"></h1>
    <h1 th:text="${'description, ' + description}"></h1>
    <h1 th:text="${'createdate, ' + createDate}"></h1>
    <h1 th:text="${'discount, ' + discount}"></h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>


</body>
</html>